@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Simple browser reset */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  height: 100%;
}

body {
  background: #ffffff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

#root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.auto-width {
  width: auto;
}

.no-padding {
  padding: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.vertical-center {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.margin-center {
  margin: auto;
  text-align: center;
}

.no-padding-left {
  padding-left: 0;
}

.nav-bar {
  background: #252323;
  color: #ffffff;
  padding: 0.5em 2em;
  flex-shrink: 0;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s ease all;
}

.nav a:hover {
  background: #d54101;
  color: #ffffff;
}

.nav a:focus {
  color: inherit;
}

.container-type {
  padding-top: 2vh;
  padding-bottom: 0vh;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow-wrap: break-word;
  max-width: 100%;
}

.error {
  color: red;
}

.form-type .form-button {
  background: #252323;
}

.form-type .form-button:hover {
  background: #d54101;
}

.form-type .form-button:focus {
  background-color: #d54101;
}

.form-type .caret {
  padding-left: 8px;
  background: #252323;
}

.form-type .caret:hover {
  background: #d54101;
}

.form-type .caret:focus {
  background-color: #d54101;
}

.info-box {
  padding: 1em 1em 1em 1em;
  margin: 0;
  border: 1px solid black;
}

.wiki-box {
  padding-left: 1em;
  padding-right: 1em;
}

.fill-col {
  flex-grow: 1;
}

.map-type {
  height: 30em;
  padding: 0;
}

.chart-type {
  padding-top: 0;
  background-color: #252323;
  color: #fff;
  height: 100%;
}

.chart-row h1 {
  font-size: 2vw;
}

.hero-banner {
  background-image: url("./img/hero.jpg");
  background-size: cover;
  min-height: 45em;
}

.hero-banner h1 {
  text-align: center;
  margin: auto;
  font-size: 4em;
  color: #fff;
}

.home-section {
  padding: 3em;
  text-align: center;
}

.home-section h1 {
  font-size: 2.5vw;
 }

.home-section h2 {
 font-size: 1.5vw;
}

.home-section .home-col {
  border-right: 1px solid black;
}

.home-image {
  margin-top: 1em;
  width: 100%;
  height: auto;
}

.footer {
  color: #fff;
  background-color: #252323;
  padding: 1em 2em;
  flex-shrink: 0;
}