/* Simple browser reset */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.auto-width {
  width: auto;
}

.no-padding {
  padding: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.vertical-center {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.no-padding-left {
  padding-left: 0;
}

.navBar {
  background: #252323;
  color: #ffffff;
  padding: 10px 30px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s ease all;
}

.nav a:hover {
  background: #f86624;
  color: #ffffff;
}

.nav a:focus {
  color: inherit;
}

.containerType {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow-wrap: break-word;
}

.formType .error {
  color: red;
}

.formType .formButton {
  background: #252323;
}

.formType .formButton:hover {
  background: #f86624;
}

.formType .formButton:focus {
  background-color: #f86624;
}

.formType .caret {
  padding-left: 8px;
  background: #252323;
}

.formType .caret:hover {
  background: #f86624;
}

.formType .caret:focus {
  background-color: #f86624;
}